.f{
    display: flex;
    flex-direction: column;
}

.f-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    background-color: #fafafa;
    border-bottom: 1px solid #eaeaea;
    height: 20px;
}

h2{
    font-size: large;
    color: #070f4e;
}