.ct{
    display: flex;
    flex-direction: column;
    background-color: aqua;
    width: fit-content;
    height: fit-content;
    border-style: solid;
    border-top: deepskyblue;
}

.ct-nav{
    display: flex;
    align-items: center;
}