.dv {
display: flex;
flex-direction: column;
width: fit-content;
height: fit-content;
border-style: solid;
background-color: blue;
border-top: deepskyblue;
}

.dv-nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

.abcdef{
    display: flex;
    justify-content: space-between;
    align-items: center;
}